<section class="a-propos">
  <h1>Présentation du concept</h1>
  <p>BeGreen est une appplication qui vous permet de diminuer vos émissions de CO2 par différents moyens :</p>

    <ul>
      <li><h2>Indication de vos émissions de CO2</h2></li>
      <ul>
        <li>données basées sur vos propres émissions</li>
        <li>catégorisation par sources de consommation</li>
        <li>aspect Quantified Self</li>
      </ul>
      <li><h2>Jeu communautaire (bientôt disponible)</h2></li>
      <ul>
        <li>rend la plateforme attractive, ludique, et addictive même pour une personne non-adepte de l’écologie</li>
        <li>confrontation de son émission de CO2 avec d’autres joueurs</li>
        <li>pour augmenter son score, obligation de diminuer ses émissions de CO2 en suivant</li>
      </ul>
      <li><h2>Objectifs</h2></li>
        <ul>
          <li>possibilité de vous fixer des objectifs mensuels, parviendrez-vous à les atteindre ?</li>
          <li>gain de places dans le classement et attribution de badges (bientôt disponible)</li>
          <li>conseils personnalisés (bientôt disponible)</li>
        </ul>
    </ul>

  <h1>Données utilisateur</h1>

  <p>BeGreen mesure vos émissions de CO2 grâce à l'ensemble de vos données. Bien que ce prototype se concentre uniquement sur vos tickets de caisse, BeGreen analysera par la suite les données suivantes : </p>
  <ul>
    <li>transport : véhicule (AXA), géolocalisation (Orange)</li>
    <li>achats sur internet (CozyCloud, Privowny)</li>
    <li>habitation : superficie du logement (AXA), énergies domestiques (AXA)</li>
  </ul>

  <h1>Base Carbone</h1>

  <p>Afin de vous fournir des données aussi précise que possible nous nous sommes appuyés sur la Base Carbone créée par l'ADEME : <a href="http://www.basecarbone.fr/"  target=_blank>http://www.basecarbone.fr/</a></p>
  <p>Croisée avec chacune de vos consommations Intermarché, cette Base Carbone vous apporte une valeur aussi détaillée que globale de vos émissions de CO2.</p>


</section>