      <div class="container">
        <div class="row">
          <aside>
            <h1>Données affichées</h1>
            <nav>
              <a class="active" href="#">Achats</a>
              <a href="#">Transports</a>
              <a href="#">Habitation</a>
            </nav>
          </aside>
          <section>
            <div id="select-periode">
                <a class="active" href="#/evolution">Évolution dans le temps</a>
                <a href="#/mois-courant">Ce mois-ci</a>
            </div>
            <div id="graph-analyse">
            </div>

          </section>
        </div>
      </div>