<section>
  <div id="select-periode">
      <a class="active" href="#/analyse/evolution-temps">Évolution dans le temps</a>
      <a href="#/analyse/mois-courant">Ce mois-ci</a>
  </div>
  <h1>BeGreen estime l’évolution de votre impact écologique dans le temps.</h1>
  <div id="graph-analyse">
  </div>
  <h1>Evolution dans le temps</h1>
  <ul>
    <li class="clearfix" ng-repeat="data in datas | orderBy:'-timestamp'">
      <div class="date"><p>{{data.timestamp | date:'dd'}}<br/> {{ data.timestamp | date : 'MMM' }}</p></div>
       <div class="content">
        <p class="libelle">{{ data.label }}</p>
        <p class="family">{{ data.familyLabel }}</p>
      </div>
      <div class="result-line"><p>{{ data.emission }} Kg de CO2</p></div>
  </ul>
</section>
