<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title></title>
        <link href='http://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <!-- <link rel="stylesheet" href="assets/css/bootstrap.css"> -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
      <header>
        <div class="container">
          <a href="#">
            <img src="assets/images/logo-begreen.png" alt="logo-begreen" id="logo-begreen">
            <h1>BeGreen</h1>
          </a>
        </div>
      </header>

      <menu id="menu">
        <div class="container">
          <nav>
            <a href="mes-emissions"><li>Mes émissions</li></a>
            <a href="analyse"><li>Analyse</li></a>
            <a href="objectifs"><li>Objectifs</li></a>
            <a href="conseils"><li>Conseils</li></a>
          </nav>
        </div>
      </menu>

      <div class="container">
        <div class="row">
          <aside>
            <h1>Données affichées</h1>
            <nav>
              <a class="active" href="#">Achats</a>
              <a href="#">Transports</a>
              <a href="#">Habitation</a>
            </nav>
          </aside>
          <section>
            <div id="graph"></div>
            <h1>Dernières sources d'émissions</h1>
            <ul>
              <li>
                <div id="date"><p>25<br/>FEV.</p></div>
                <div id="content">
                  <p id="libelle">Top budget Coulommiers 350G</p>
                  <p id="family">FROMAGE LS</p>
                </div>
                <div id="result-line"><p>0.43 Kg de CO2</p></div>

              </li>
              <li>
                <div id="date"><p>25<br/>FEV.</p></div>
                <div id="content">
                  <p id="libelle">Top budget Coulommiers 350G</p>
                  <p id="family">FROMAGE LS</p>
                </div>
                <div id="result-line"><p>0.43 Kg de CO2</p></div>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</html>
























